{% if FavoriteManager('isFavorite', user.getId(), favId) %}
    <span id="favorite" class="delete">
        <input type="hidden" id="action" value="delete">
        <input type="hidden" id="favoriteId" value="{{ favId }}">
    </span>
{% else %}
    <span id="favorite" class="create">
        <input type="hidden" id="action" value="create">
        <input type="hidden" id="favoriteId" value="{{ favId }}">
    </span>
{% endif %}