<a href="{{ links.allUsers }}">
    <img src="/static/img/chatNow.png" width="25" height="25" align="absmiddle">
    {{ labels.usersList }}
</a>
<a href="{{ links.favorites }}">
    <img src="/static/img/favorites.png" width="25" height="25" align="absmiddle">
    {{ labels.favorites }}
</a>