<span class="search-users">
    <form action="{{ action }}" method="post" id="search-form">
        <input type="text" id="search-field" name="queryString" placeholder="{{ userSearch }}">
        <span id="search-button"></span>
    </form>
</span>