<link rel="stylesheet" type="text/css" href="/static/css/app.css?v=1.1.8&r={{ rand }}">
<script src = "/static/js/jquery.min.js"></script>
<script src="/static/js/app.js?v=1.0.0"></script>
<title>Chatter - new way for you.</title>