<html>
<head>
    {% include '@app/blocks/header.twig' %}
</head>
<body>
<div id="main-container" style="text-align: center;padding: 5%; margin: 2% auto">
    <h2>404</h2>
    <h4 style="font-weight: normal">Page not found</h4>
</div>
</body>
</html>